$head-font: #fff;
$subhead-font: #ebebeb;
$body-font: #cccccc;
$grey-font: #747474;
$grey-border: #dbdbdb;
$grey-hover: #a0a0a0;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
