@import "./_style/variables";

@mixin flexCenter {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.layout {
  width: 100%;
  min-width: 260px;
  margin: auto;
  @include flexCenter;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 2px 0;
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 66%;
    padding: 0 12px;
  }
}

.mainContainer {
  width: 66%;
  & > h2 {
    align-self: flex-start;
    color: $head-font;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.5px;
  }
  @media (max-width: 699px) {
    width: 85%;
  }
}

.cardContainerWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 699px) {
    justify-content: center;
    align-items: center;
  }
}

// calendar
.calendarContainer {
  position: relative;
  width: 350px;
}

.calendar {
  position: absolute;
  z-index: 1;
  left: 20px;
}

.backgroundContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-position: center;
  transition: opacity 1s;
}

.emptyCard {
  visibility: hidden;
}

.swiper-slide {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  :global(.swiper) {
  }

  :global(.swiper-slide) {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :global(.swiper-pagination-bullet) {
    background: white; // 페이지네이션 색상
  }

  :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    color: white;
    &::after {
      font-weight: bold;
    }
  }
}

// loading
.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 5;
}
